{% extends 'Homepage.html' %}
{% load static %}
{% block content %}

<section id="popular-books" class="bookshelf py-5 ">
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <h2 class="section-title">{{category_name}} Books</h2>
                </div>

                <!--                    <ul class="tabs">-->
                <!--                        <li data-tab-target="#all-genre" class="active tab">All Genre</li>-->
                <!--                        <li data-tab-target="#business" class="tab">Business</li>-->
                <!--                        <li data-tab-target="#technology" class="tab">Technology</li>-->
                <!--                        <li data-tab-target="#romantic" class="tab">Romantic</li>-->
                <!--                        <li data-tab-target="#adventure" class="tab">Adventure</li>-->
                <!--                        <li data-tab-target="#fictional" class="tab">Fictional</li>-->
                <!--                    </ul>-->

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row">

                            {% for i in books %}
                            <div class="col-md-3"
                                 style="border:1px solid lightgrey; border-radius:12px;  margin:10px 50px;">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="{{i.Book_cover.url}}" alt="Books"
                                             class="product-item" style="height:400px;">
                                    </figure>
                                    <figcaption>
                                        <h3>{{i.Book_title}}</h3>
                                        <span>{{i.Book_author}}</span>
                                        <div class="item-price">Rs. {{i.Book_price}}</div>
                                    </figcaption>
                                    <div class="text-center">
                                        <a href="{% url 'Singlebook' book_id=i.id %}" type="button"
                                           class="btn btn-outline-success mb-3"
                                           style="width:150px; height:40px; border-radius:15px;">View More</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>

                    </div>

                </div>

            </div><!--inner-tabs-->
        </div>
    </div>

</section>
{% endblock %}