<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title>BookFlix</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'web/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/icomoon/icomoon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/css/vendor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

  <div id="header-wrap">

    <div class="top-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
             <div class="right-element d-flex justify-content-end align-items-center">

              <!-- Account Dropdown -->
              {% if request.session.username %}
              <div class="nav-item dropdown me-4">
                <a href="#" class="nav-link dropdown-toggle text-dark d-flex align-items-center"
                  data-bs-toggle="dropdown">
                  <i class="fas fa-user-circle fa-lg me-2"></i>Welcome, {{request.session.username}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </div>
              {% else %}
              <div class="nav-item dropdown me-4">
                <a href="#" class="nav-link dropdown-toggle text-dark d-flex align-items-center"
                  data-bs-toggle="dropdown">
                  <i class="fas fa-user-circle fa-lg me-2"></i>Account
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{% url 'Usersigninpage' %}">Login</a></li>
                </ul>
              </div>
              {% endif %}

              <!-- Cart -->
              <a href="{% url 'Cartpage' %}" class="cart for-buy me-4">
                <i class="icon icon-clipboard"></i><span>Cart</span>
              </a>

              <!-- Search -->
              <div class="action-menu">
                <div class="search-bar">
                  <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                    <i class="icon icon-search"></i>
                  </a>
                  <form role="search" method="get" class="search-box">
                    <input class="search-field text search-input" placeholder="Search" type="search">
                  </form>
                </div>
              </div>

            </div><!--top-right-->
          </div>

        </div>
      </div>
    </div><!--top-content-->

    <header id="header">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-2">
            <div class="main-logo">
              <a href="{% url 'Homepage' %}">
                <h2 style="font-weight:800; font-size:32px; color:#0b0c10; margin:0px;">BookFlix</h2>
              </a>
            </div>

          </div>

          <div class="col-md-10">

            <nav id="navbar">
              <div class="main-menu stellarnav">
                <ul class="menu-list">
                  <li class="menu-item">
                    <a href="{% url 'Homepage' %}">Home</a>
                  </li>
                  <li class="menu-item "><a href="{% url 'Aboutpage' %}">About Us</a></li>
                  <li class="menu-item has-sub">
                    <a href="#pages" class="nav-link active ">Category</a>
                      <ul>
                          {% for i in category %}
                          <li class="{% if i.Catergory_name == category_name or i.Catergory_name == books.Book_category %}active{% endif %}"><a href="{% url 'Filterbooks' category_name=i.Catergory_name %}">{{i.Catergory_name}}</a></li>
                          {% endfor %}
                      </ul>
<!--                    <ul>-->
<!--    {% for i in category %}-->
<!--      {% if i.Catergory_name == category_name %}-->
<!--        <li class="active">-->
<!--      {% elif books and i.Catergory_name == books.Book_category %}-->
<!--        <li class="active">-->
<!--      {% else %}-->
<!--        <li>-->
<!--      {% endif %}-->
<!--        <a href="{% url 'Filterbooks' category_name=i.Catergory_name %}">-->
<!--          {{ i.Catergory_name }}-->
<!--        </a>-->
<!--      </li>-->
<!--    {% endfor %}-->
<!--  </ul>-->
                  </li>
                  <!--                                    <li class="menu-item"><a href="#featured-books" class="nav-link">Featured</a></li>-->
                  <li class="menu-item"><a href="{% url 'Popularpage' %}" class="nav-link">Popular</a></li>
                  <li class="menu-item"><a href="{% url 'Contactpage' %}" class="nav-link">Contact</a></li>
                  <!--                                    <li class="menu-item"><a href="#latest-blog" class="nav-link">Articles</a></li>-->
                  <!--                                    <li class="menu-item"><a href="#download-app" class="nav-link">Download App</a></li>-->
                </ul>

                <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>

              </div>
            </nav>

          </div>

        </div>
      </div>
    </header>

  </div><!--header-wrap-->

  <section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="row">

            <div class="col-md-6 mt-3">
              <figure class="products-thumb mt-5">
                <img src="{{books.Book_cover.url}}" alt="book" class="single-image">
              </figure>
            </div>

            <div class="col-md-6">
              <div class="product-entry">
                <h2 class="section-title divider">{{books.Book_title}}</h2>

                <div class="products-content">
                  <div class="author-name">{{books.Book_author}}</div>
                  <h3 class="item-title">{{books.Book_title}}
                      <br><span style="font-size:21px;">({{books.Book_category}})</span></h3>
                  <p style="text-align:justify;">
                      {{books.Book_description}}
                  </p>
                  <div class="item-price">Rs. {{books.Book_price}}</div>

                    <form method="post" enctype="multipart/form-data">
                        <input type="number" min="1" max="10" class="form-control mb-3 mt-3" style="width:175px;" placeholder="quantity" value="1" name="singlebook_quantity">
                        <input type="text" class="form-control mb-3 mt-3" style="width:175px;" placeholder="Rs " name="singlebook_total">
                        <input type="hidden" class="form-control mb-3 mt-3" placeholder="Book Title" value="{{books.Book_title}}" name="singlebook_title">
                        <input type="hidden" class="form-control mb-3 mt-3"  placeholder="Book price" value="{{books.Book_price}}" name="singlebook_price">
                        <input type="hidden" class="form-control mb-3 mt-3"  placeholder="Username" value="{{request.session.username}}" name="singlebook_username" >

                        {% if request.session.username %}
                         <div class="btn-wrap">
                                <a  href="{% url 'Cartpage' %}" type="submit" class="btn btn-outline-primary"  style="border-radius:15px; height:40px;">Add To Cart<i class="icon icon-ns-arrow-right"></i>
                                </a>
                         </div>
                        {% else %}
                        <div class="btn-wrap">
                                <a  href="{% url 'Usersigninpage' %}" type="submit" class="btn btn-outline-primary"  style="border-radius:15px; height:40px;">Please Login!<i class="icon icon-ns-arrow-right"></i>
                                </a>
                        </div>
                        {% endif %}

                    </form>
                  <div class="btn-wrap" style="text-align:right;">
                    <a href="{% url 'Filterbooks' category_name=books.Book_category %}" class="btn-accent-arrow">Go Back<i class="icon icon-ns-arrow-right"></i></a>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- / row -->

        </div>

      </div>
    </div>
  </section>

 <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="footer-item">
            <h2 style="font-weight:800; font-size:32px; color:darknavyblue; letter-spacing:1px;">BookFlix</h2>
            <p style="color:lightblack; text-align:justify; margin-top:15px;">
              At <strong>BookFlix</strong>, we’re redefining how people discover and buy books. Whether you’re a casual
              reader or a lifelong learner, we connect you to the stories and ideas that matter most securely, smartly,
              and stylishly. Dive into a world of knowledge, imagination, and inspiration one book at a time.
            </p>
          </div>

        </div>

        <div class="col-md-2">

          <div class="footer-menu">
            <h5>About Us</h5>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="#">vision</a>
              </li>
              <li class="menu-item">
                <a href="#">articles </a>
              </li>
              <li class="menu-item">
                <a href="#">careers</a>
              </li>
              <li class="menu-item">
                <a href="#">service terms</a>
              </li>
              <li class="menu-item">
                <a href="#">donate</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-md-2">

          <div class="footer-menu">
            <h5>Discover</h5>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="{% url 'Homepage' %}">Home</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'Popularpage' %}">Books</a>
              </li>
              <li class="menu-item">
                <a href="#">Authors</a>
              </li>
              <li class="menu-item">
                <a href="#">Subjects</a>
              </li>
              <li class="menu-item">
                <a href="#">Advanced Search</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-md-2">

          <div class="footer-menu">
            <h5>My account</h5>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="{% url 'Usersigninpage' %}">Sign In</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'Cartpage' %}">View Cart</a>
              </li>
              <li class="menu-item">
                <a href="#">My Wishtlist</a>
              </li>
              <li class="menu-item">
                <a href="#">Track My Order</a>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-md-2">

          <div class="footer-menu">
            <h5>Help</h5>
            <ul class="menu-list">
              <li class="menu-item">
                <a href="#">Help center</a>
              </li>
              <li class="menu-item">
                <a href="#">Report a problem</a>
              </li>
              <li class="menu-item">
                <a href="#">Suggesting edits</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'Contactpage' %}">Contact us</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
      <!-- / row -->

    </div>
  </footer>

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="copyright">
            <div class="row">

              <div class="col-md-6">
                <p>© 2025 All rights reserved.</p>
              </div>

              <div class="col-md-6">
                <div class="social-links align-right">
                  <ul>
                    <li>
                      <a href="#"><i class="icon icon-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icon icon-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icon icon-youtube-play"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="icon icon-behance-square"></i></a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div><!--grid-->

        </div><!--footer-bottom-content-->
      </div>
    </div>
  </div>

  <script src="{% static 'web/js/jquery-1.11.0.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="{% static 'web/js/plugins.js' %}"></script>
  <script src="{% static 'web/js/script.js' %}"></script>

</body>

</html>