{% extends "Homepage.html" %}
{% load static %}
{% block content %}

<section class="container py-5">

    <div class="row align-items-center">

        <!-- Book Image -->
        <div class="col-md-5 text-center">
            <img src="{{ books.Book_cover.url }}" class="img-fluid shadow rounded" style="max-height:450px;">
        </div>

        <!-- Book Details -->
        <div class="col-md-7">

            <h2 class="fw-bold">{{ books.Book_title }}</h2>
            <p class="text-muted">By {{ books.Book_author }}</p>

            <p class="mt-3" style="text-align:justify;">
                {{ books.Book_description }}
            </p>

            <h4 class="mt-3 text-success">Rs. {{ books.Book_price }}</h4>

            {% if request.session.username %}

            <form method="post" action="{% url 'savecart' %}" class="mt-4">
                {% csrf_token %}

                <input type="number" min="1" max="10" class="form-control mb-3 mt-3"
                       style="width:175px;" placeholder="quantity" value="1"
                       name="singlebook_quantity" id="singlebook_quantity">
                <input type="text" class="form-control mb-3 mt-3" style="width:175px;"
                       placeholder="Rs " name="singlebook_total" id="singlebook_total" value="{{books.Book_price}}">
                <input type="hidden" class="form-control mb-3 mt-3" placeholder="Book Title"
                       value="{{books.Book_title}}" name="singlebook_title">
                <input type="hidden" class="form-control mb-3 mt-3" placeholder="Book price"
                       value="{{books.Book_price}}" name="singlebook_price" id="singlebook_price">
                <input type="hidden" class="form-control mb-3 mt-3" placeholder="Username"
                       value="{{request.session.username}}" name="singlebook_username">

                <button type="submit" class="btn btn-success px-4">
                    Add to Cart
                </button>

        </div>

        </form>

        {% else %}

        <a href="{% url 'Usersigninpage' %}" class="btn btn-outline-primary mt-4">
            Please Login to Add to Cart
        </a>

        {% endif %}

        <div class="mt-4" style="margin-left:1200px">
            <a href="{% url 'Filterbooks' category_name=books.Book_category %}"
               class="btn bg-primary" >
                ← Go Back
            </a>
        </div>

    </div>

    </div>

</section>

<script>
    document.addEventListener("DOMContentLoaded", function(){
    document.getElementById('singlebook_quantity').addEventListener('change',function(){
    let price =document.getElementById('singlebook_price').value;
    let qnty=document.getElementById('singlebook_quantity').value;
    document.getElementById('singlebook_total').value=price*qnty;
    })
    })
</script>

{% endblock %}
